body {
  background: gray;
    margin: 0;
    padding: 0;
    height: 100%;
}

#app-container {
  background: rgba(255, 255, 255, 0.5);
  width: 50%;
  height: 50%;
  margin: auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

/* Header --------------------------------------------------------------------------------------- */
#header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100px;
}

.header-title {
  font-size: 4rem;
}

/* Current Weather ---------------------------------------------------------------------------------------- */
#current-weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-location {
  font-size: 4rem;
}