html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Header --------------------------------------------------------------------------------------- */
#header {
  display: flex;
  justify-content: center;
  align-items: center;
}



#logo {
  width: 150px;
}

.header-title {
  font-size: 4rem;
}